

    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" [(ngModel)]="searchTerm" (keyup)="startSearch(searchTerm)" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
        <ul class="list-group">
            <li *ngFor="let result of searchResults" class="list-group-item">{{result.getType()}}{{result.getDesc()}}<span class="badge bg-pink">add</span></li>
            
            <!--li class="list-group-item">Dapibus ac facilisis in <span class="badge bg-cyan">99 read</span></li>
            <li class="list-group-item">Morbi leo risus <span class="badge bg-teal">99+</span></li>
            <li class="list-group-item">Porta ac consectetur ac <span class="badge bg-orange">21</span></li>
            <li class="list-group-item">Vestibulum at eros <span class="badge bg-purple">18</span></li-->
        </ul>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar theme-green">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <img src="/images/main.png" style="float: left;width: 40px;margin-right: 15px;margin-top:5px" >
                <a routerLink="" routerLinkActive="active" class="navbar-brand" style="font-family: 'Poiret One', coursive;font-size:40px;font-weight:bold;padding-top:12px" href="index.html">timba dt </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a routerLink="/" routerLinkActive="active" href="javascript:void(0);" (click)="services.nav='explore'" class=" dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                     <li class="dropdown">
                        <a routerLink="/teams" routerLinkActive="active" href="javascript:void(0);" class=" dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">security</i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/fixture" routerLinkActive="active" href="javascript:void(0);" (click)="services.nav='explore'" class=" dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">today</i>
                        </a>
                    </li>
                    
                    <li class="dropdown">
                        <a *ngIf="services.isAdmin()" routerLink="/admin" routerLinkActive="active" href="javascript:void(0);" class=" dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">event_seat</i>
                        </a>
                    </li>
                    <li *ngIf="services.isLogged()" class="dropdown">
                        <a (click)="services.logout()" href="javascript:void(0);" class=" dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">power_settings_new</i>
                        </a>
                    </li>
                    <!-- #END# Tasks -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->

    