

img{
    width:100%;
    margin:0;
}

.img-button{
 margin:20px;
}

.main-object{
    padding:0;
    padding-right:20px;
}

.main-image{
    padding:0;
    margin:0!important;
}

.save{
    float:right;
    margin-top:15px;
}

.form-group{
    margin:0;
}

.menu-buttons{
    padding-left: 20px;
    padding-right: 20px;
}

.menu-buttons button{
    margin:0px 5px 15px 5px;
}

.menu-right-buttons{
    float:right;
}

.card{
        opacity:0;
        transition:opacity 0.4s;
      }

      .card-show{
        opacity:1;
      }